In [2]:
import algorithms
import data_clean
import pandas as pd
import numpy as np

In [4]:
df = data_clean.do(data_clean)
df = algorithms.ml_probabilities(algorithms,df)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3372: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,

In [5]:
df.head(10)
#3055

,schedule_date,home,score_home,away,score_away,team_favorite_id,spread_favorite,home_ML,away_ML,implied_win_home,implied_win_away,total_implied_prob
2,2009-09-13,BAL,38.0,KC,24.0,BAL,-13.0,-715.0,572.5,87.73,14.87,102.60
3,2009-09-13,CAR,10.0,PHI,38.0,PHI,-2.5,117.5,-137.5,45.98,57.89,103.87
9,2009-09-13,NO,45.0,DET,27.0,NO,-14.0,-870.0,680.0,89.69,12.82,102.51
17,2009-09-20,CHI,17.0,PIT,14.0,PIT,-3.0,125.0,-142.5,44.44,58.76,103.20
26,2009-09-20,LAC,26.0,BAL,31.0,LAC,-1.0,-117.5,101.5,54.02,49.63,103.65
27,2009-09-20,SF,23.0,SEA,10.0,SF,-1.0,-115.5,100.0,53.60,50.00,103.60
31,2009-09-27,ARI,10.0,IND,31.0,ARI,-3.0,-157.0,142.0,61.09,41.32,102.41
32,2009-09-27,BAL,34.0,CLE,3.0,BAL,-13.5,-775.0,610.0,88.57,14.08,102.65
39,2009-09-27,NYJ,24.0,TEN,17.0,NYJ,-1.0,-114.0,103.5,53.27,49.14,102.41
40,2009-09-27,LVR,3.0,DEN,23.0,DEN,-2.5,111.0,-129.0,47.39,56.33,103.72

In [6]:
df

,schedule_date,home,score_home,away,score_away,team_favorite_id,spread_favorite,home_ML,away_ML,implied_win_home,implied_win_away,total_implied_prob
2,2009-09-13,BAL,38.0,KC,24.0,BAL,-13.0,-715.0,572.5,87.73,14.87,102.60
3,2009-09-13,CAR,10.0,PHI,38.0,PHI,-2.5,117.5,-137.5,45.98,57.89,103.87
9,2009-09-13,NO,45.0,DET,27.0,NO,-14.0,-870.0,680.0,89.69,12.82,102.51
17,2009-09-20,CHI,17.0,PIT,14.0,PIT,-3.0,125.0,-142.5,44.44,58.76,103.20
26,2009-09-20,LAC,26.0,BAL,31.0,LAC,-1.0,-117.5,101.5,54.02,49.63,103.65
...,...,...,...,...,...,...,...,...,...,...,...,...
3050,2020-11-01,KC,35.0,NYJ,9.0,KC,-19.5,-2440.0,1365.0,96.06,6.83,102.89
3051,2020-11-01,MIA,28.0,LAR,17.0,LAR,-3.5,156.0,-175.5,39.06,63.70,102.76
3052,2020-11-01,PHI,23.0,DAL,9.0,PHI,-11.5,-445.0,342.5,81.65,22.60,104.25
3053,2020-11-01,SEA,37.0,SF,27.0,SEA,-3.0,-112.5,-102.5,52.94,50.62,103.56
3054,2020-11-02,NYG,23.0,TB,25.0,TB,-12.5,517.5,-687.5,16.19,87.30,103.49